<!DOCTYPE html>
<html lang="en">
   <section id="home">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>shopping</title>
    <h1>Welcome To Shoppers Outlet</h1>
</head>
<body>
    <main>
        <% if(user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/shoppers">Items</a></li>
            <li><a href="/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/auth/google">Login With Google</a></li>
        <% } %>
         

</section>
<footer id="footer">
    <p> Copyright &copy; 2020 Shoppers Outlet All Rights Reserved</p>
</footer>
</main>
</body>
</html>
