<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form id="index" action="/shoppers" method="POST"></form>
</head>
<body>
<thead>
    <th><h1>Items</h1></th>
</thead>
<tbody>
    <% shoppers.forEach(function(shopper) { %>
        <tr>
            <td><%= shopper.item %></td>
            
        </tr>
  <% }); %>
  <a href="/new">Write A Review</a>

  <a href="/show">Shop Another Item</a>
    <p><a href="/">Back</a></p>
  
</body>
</html>





