
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <h2>Reviews</h2>
    <form id="add-review-form" method="POST" action="/shoppers">
      <label>Review:</label>
      <textarea name="content"></textarea>
      <label>Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <input type="submit" value="Add Review">
    </form>
    </tbody>
    
    
</body>
</html>








<!-- <link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <h2> Search By Store</h2>
    <form id="new-form" action="/new" method="POST">
    
    <label>Store Name:
        <select name="Store">
            <option value="Shein">Shein</option>
            <option value="American Eagle">AE</option>
            <option value="Banana Republic">Banana Republic</option>
            <option value="H&M">H&M</option>
            <option value="Forever 21">Forever 21</option>
            <option value="TJ Maxx">TJ Maxx</option>
            </select>
            <a href="/shoppers/new">Find Store</a>
    </label>
    <a href="/">Back</a>
    </form>
</body> -->