<link rel="stylesheet" type="text/css" href="/css/style.css">
<body>
    <h2> Search By Store</h2>
    <form id="new-form" action="/shoppers/new" method="POST">
    
    <label>Store Name:
        <select name="Store">
            <option value="Shein">Shein</option>
            <option value="American Eagle">AE</option>
            <option value="Banana Republic">Banana Republic</option>
            <option value="H&M">H&M</option>
            <option value="Forever 21">Forever 21</option>
            <option value="TJ Maxx">TJ Maxx</option>
            </select>
            <a href="/shoppers/new">Find Store</a>
    </label>
    <a href="/">Back</a>
    </form>
</body>