<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1> Search Item</h1>
    <form id="show" action='/shoppers/<%= shopper._id %>/items' method="POST">
    
    <label>Item Color:
        <select name="color">
            <option value="Blue">Blue</option>
            <option value="Red">Red</option>
            <option value="Yellow">Yellow</option>
            <option value="Green">Green</option>
            <option value="Purple">Purple</option>
            <option value="Orange">Orange</option>
            <option value="Black">Black</option>
            <option value="White">White</option>
            <option value="Pink">Pink</option>
            <option value="Grey">Grey</option>
        </select>
    </label>
    <label>Item: 
        <input type="text" name="clothing">
    </label>
    <input type="submit" value="Find Item">
    </form>
    <a href="/shoppers">Back</a>

    
